 :host{
  position: relative;

  .card-title-row {

    position: absolute;
    top: 8px;
    left: 16px;

    .card-title {
      color: white;
      font-size: 20px;
    }
  
    ion-icon {
      padding-left: 0px;
    &:before {
        font-size: 36px;
      }
    }
  }
 

  
 } 