<ion-card>
  <app-etablissement-card-header [etablissement]="etablissement"></app-etablissement-card-header>
  <ion-list>
    <ion-item-sliding *ngFor="let intervention of etablissement.interventions$ | async">
      <ion-item>
        <ion-icon name="text"></ion-icon>
        <span>{{ intervention.date | date:'medium' }} </span>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="heart"></ion-icon>
        </button>
        <button ion-button color="primary">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <!-- <button ion-item>
      <ion-icon name="cart" item-start></ion-icon>
      Shopping
    </button>

    <button ion-item>
      <ion-icon name="medical" item-start></ion-icon>
      Hospital
    </button>

    <button ion-item>
      <ion-icon name="cafe" item-start></ion-icon>
      Cafe
    </button>

    <button ion-item>
      <ion-icon name="paw" item-start></ion-icon>
      Dog Park
    </button>

    <button ion-item>
      <ion-icon name="beer" item-start></ion-icon>
      Pub
    </button>

    <button ion-item>
      <ion-icon name="planet" item-start></ion-icon>
      Space
    </button> -->

  </ion-list>
</ion-card>