<ion-card>
  <app-etablissement-card-header [etablissement]="plageIntervention.etablissement"></app-etablissement-card-header>
  <ion-list>
    <!-- <div fxLayoutAlign="center center">
      <ion-icon name="arrow-up"></ion-icon>
    </div>-->
    <ion-item *ngFor="let intervention of plageIntervention.interventions">
      <button ion-button round clear item-start color="primary" (click)="likeIntervention(intervention)">
        <ion-icon [name]="(getIsLiked(intervention) | async) ? 'heart' : 'heart-outline'" clear round></ion-icon>
      </button>
      <span fxFlex>{{ intervention.date | date:'medium' }} </span>
      <ion-badge color="secondary" item-end>{{ getStatusLabel(intervention) | async }}</ion-badge>
    </ion-item>
    <!-- <div fxLayoutAlign="center center">
      <ion-icon name="arrow-down"></ion-icon>
    </div>-->
  </ion-list>
</ion-card>