<ion-split-pane>
  <ion-menu [content]="content">
    <ion-content>
      <div ion-fixed>
        <div class="profile" padding fxLayout="row" fxLayoutAlign="start center">
          <img margin-right class="profile-image" src="https://robohash.org/{{firstname}}" />
          <div fxFlex fxLayout="column" class="username">
            <div style="font-size:20px">{{ firstname }}</div>
            <div style="font-size:14px">{{ lastname }}</div>
          </div>
          <div>
            <button icon-start ion-button icon-only clear round medium class="profile-button" color="light">
              <ion-icon name="cog"></ion-icon>
            </button>
          </div>
        </div>
        <ion-list>
          <button menuClose ion-item routerLink="/home" routerLinkActive="active">
            <span translate>Home</span>
          </button>
          <button menuClose ion-item routerLink="/interventions" routerLinkActive="active">
            <span translate>Interventions</span>
          </button>
          <button menuClose ion-item routerLink="/discussions" routerLinkActive="active">
            <span translate>Discussions</span>
            <span fxFlex></span>
            <ion-badge>14</ion-badge>
          </button>
          <button menuClose ion-item routerLink="/about" routerLinkActive="active">
            <span translate>About</span>
          </button>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <ion-nav main [root]="navRoot" #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>